.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register{
   border: 2px solid #fdfdfd;
   border-radius: 10px;
   height: max-content;
   padding: 10px;
}
.register > form{
    font-size: 16px;
}
.register > form .form-group{
    margin-bottom: 12px;
}